#modelle {
	@include size(100%, 100%);
	position: fixed;
	top: 0;
	background: $primary;
	font-size: 1rem;
	z-index: layer('ontop');
	@include transition(height .4s);

	& * {
		color: $lighttext;
	}

	ul {
		@include size(100%, 40px);
		@include flexbox();
		justify-content: center;

		li {
			width: 80px;
			line-height: 40px;
			display: inline-block;
			text-align: center;
			cursor: pointer;

			&:hover {
				background: transparent(white, .1);
			}

			&:hover > ul {
				height: calc(100% - 40px);
				opacity: 1;
			}

			a {
				@include size(100%);
				display: block;
				text-decoration: none;
			}

			ul {
				@include size(100%, 0);
				position: fixed;
				top: 40px;
				left: 0;
				@include flexbox();
				@include transition(opacity .3s);
				background: transparent(white, .1);
				overflow: hidden;
				opacity: 0;

				li {
					@include flexbox(column);
					@include flex-value(1);
					height: 100%;
					position: relative;
					text-align: left;
					border-top: 4px transparent solid;
					background: black !important;

					&:hover {
						border-top: 4px white solid;
						border-bottom: 4px white solid;
					}

					&:hover > .background {
						opacity: .4;
					}

					.background {
						@include size(100%);
						position: absolute;
						top: 0;
						left: 0;
						background-position: center !important;
						background-size: cover !important;
						background-repeat: no-repeat !important;
						z-index: 0;
						opacity: 1;
						@include transition(opacity .2s);
					}

					a {
						z-index: 1;

						div {
							padding: 10px;
							p {
								@include flex-value(1);
							}
						}
					}
				}
			}
		}
	}
}

#header {
	@include size(100%, 40px);
	position: fixed;
	top: 0;
	background: $primary;
	font-size: 1rem;
	z-index: layer('header');

	div:not(.steps) {
		//position: absolute !important;
		//top: 18px !important;
	}

	.steps {
		$height: 40px;
		@include size(100%, $height);
		position: absolute;
		bottom: 0;

		& * {
			color: $lighttext;
		}

		ul {
			@include size(100%, $height);
			@include flexbox();

			li {
				@include flex-value(1);
				line-height: $height;
				display: inline-block;
				text-align: center;

				&:hover {
					background: transparent(white, .1);
				}

				&.current {
					background: transparent(white, .2);
				}

				a {
					@include size(100%);
					display: block;
					text-decoration: none;
				}
			}
		}
	}
}

#wrapper {
	width: 90%;
	height: auto;
	min-height: 300px;
	margin: 100px auto 0;
	@include flexbox();
	background: $secondary;
	font-size: 1rem;
	z-index: layer('middle');

	&.scroll {
		margin: 40px auto 0;
	}

	&.login {
		@include size(100%);
		margin: 0;
		padding: 0;
		background: url(images/login.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: black;

		form {
			$height: 30px;
			@include size(1000px, $height+20px);
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -25px -500px;

			input {
				width: 220px;
				position: absolute;
			}

			.left {
				left: 0;
			}

			.right {
				width: 170px;
				right: 40px;
				opacity: 0;
				&.visible {
					opacity: 1;
				}
			}

			.submit {
				@include size($height);
				position: absolute;
				right: 0;
				margin: 10px 10px;
				opacity: 0;
				border: none;
				-webkit-appearance: none;
				background: white;
				@include transition(all .4s);

				&.visible {
					opacity: 1;
				}

				&:hover {
					cursor: pointer;

					&::after {
						right: -3px;
					}
				}

				&::after {
					@include size(100%);
					line-height: $height+3px;
					position: absolute;
					top: 0;
					right: 0;
					content: "\25B6";
					font-size: small;
					@include transition(all .3s);
				}
			}
		}
	}

	#content {
		@include flex-value(1);
		@include flex-order(1);
		padding: 20px;
		#items {
			@include flexbox(column);
			padding: 20px 0;

			.item {
				@include size(calc(100% - 40px), 150px);
				padding: 20px;
				@include flexbox();
				position: relative;

				&:hover {
					background: transparent($primary, .3) !important;

					&.item-has-image {
						.image {
							border: 1px transparent($primary, .1) solid !important;
						}
					}					
				}

				&:nth-of-type(2n) {
					background: darken($secondary, 4%);

					&.item-has-image {
						.image {
							border: 1px darken($borders, 2%) solid;
						}
					}
				}

				&.item-has-image {
					.image {
						@include size(220px, auto);
						margin: 0 30px 0 10px;
						@include flex-order(2);
						border: 1px $borders solid;
					}

					.description {
						margin: 0;
					}
				}

				&.item-color {
					.color {
						@include size(220px, auto);
						margin: 0 30px 0 10px;
						@include flex-order(2);
						border: 1px $borders solid;
					}

					&.Dynamitrot > .color {
						background: red !important;
					}
					&.Ibisweiss > .color {
						background: white !important;
					}
					&.Carmouflagegruen > .color {
						background: darken(green, 5%) !important;
					}
					&.Suzukagrau > .color {
						background: grey !important;
					}
					&.Daytonagrau > .color {
						background: lightgrey !important;
					}
					&.Arablau > .color {
						background: darken(blue, 30%) !important;
					}
					&.Classicrot > .color {
						background: lighten(red, 30%) !important;
					}
					&.Palaisblau > .color {
						background: lighten(blue, 30%) !important;
					}
				}

				&.item-column {
					@include flexbox(column);
				}

				.cmd {
					@include size(30px, 100%);
					position: relative;
					@include flex-order(1);

					input {
						@include size(12px);
						margin: -6px;
						position: absolute;
						left: 50%;
						top: 50%;
					}
				}

				.description {
					margin: 0 20px;
					@include flex-value(1);
					@include flex-order(3);
				}

				.item-price {
					position: absolute;
					right: 20px;
					bottom: 20px;
					@include flex-order(4);
					text-align: right;
				}
			}

			.item:first-of-type, .item:last-of-type {
				margin: 0;
			}
		}

		#footer {
			padding: 20px;
			border-top: 1px $borders solid;
			@include flexbox();
			justify-content: flex-end;

			input[type="submit"] {
				width: 70px;
			}
		}
	}

	#sidebar {
		width: 220px;
		position: relative;
		padding: 20px;
		@include flex-order(2);
		background: rgb(45, 51, 61);
		z-index: layer('header') - 1 !important;

		& * {
			color: $lighttext;
		}

		.price {
			@include size(220px, 100%);
			position: absolute;
			top: 20px;

			&.scroll {
				position: fixed;
				top: 60px;
			}

			.progress {
				margin-bottom: 20px;
				padding: 0 0 20px;
				border-bottom: 1px transparent($borders, .3) dashed;

				p {
					font-size: 3.5rem;

					span {
						font-size: 1.5rem;
					}
				}

				#progressbar div {
					z-index: layer('header') - 1 !important;
				}
			}
		}
	}
}

#branding {
	@include size(90%, auto);
	min-height: 250px;
	margin-top: 50px;
	padding: 20px 5%;
	border-top: 1px $borders solid;
	font-size: 1rem;
	z-index: layer('back') !important;
}

#progressbar {
	z-index: layer('header');
}