input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="week"],
textarea, select {
	@include size(250px, 30px);
	line-height: 20px;
	margin: 10px;
	padding: 5px;
	outline: none;
	border: none;
	border-left: 3px transparent($primary, .3) solid;
	@include rounded(0);
	background: white;
	display: block;
	box-sizing: border-box;
	font-size: 11pt;
	-webkit-appearance: none;
	@include transition(all .4s);

	&:focus {
		border-color: $primary !important;
	}

	&:hover {
		border-color: transparent($primary, .5);
	}
}

textarea {
	@include size(400px, 100px);
}

input[type="date"],
input[type="month"],
input[type="week"] {
	width: 180px;
}

input[type="submit"] {

}