* {
	margin: 0;
	padding: 0;
	@include font('helvetica');
	color: rgb(45, 51, 61);
}

html, body {
	margin: 0;
	padding: 0;
	@include size(100%);
	font-size: 17px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

li {
	list-style-position: inside;
}